$palette: (
    bg: #777,
    bg-dark: darken(#777, 25%),
    primary: #fffad7,
    secondary: #d7ebff,
    tertiary: #ffd7e1,
    primary-dark: darken(#fffad7, 50%),
    secondary-dark: darken(#d7ebff, 50%),
    tertiary-dark: darken(#ffd7e1, 50%),
);

@function _color($color) {
  @return map-get($palette, $color);
}