$bg: #777;
$primary: #fffad7;
$secondary: #d7ebff;
$tertiary: #ffd7e1;

$palette: (
    bg: $bg,
    bg-dark: darken($bg, 25%),
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    primary-dark: darken($primary, 50%),
    secondary-dark: darken($secondary, 50%),
    tertiary-dark: darken($tertiary, 50%),
);

@function _color($color) {
  @return map-get($palette, $color);
}