@import "colors";

body {
  background: _color(bg);
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  header {
    color: _color(secondary);

    h1 {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.search-wrapper {
  margin-bottom: 10px;
}

.books-wrapper {
  width: 90%;
}

.book {
  background: _color(primary);
  border: 1px solid #777;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.triple-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
}

.book_title_subtitle {
  margin: 10px;
}

.book_coverart {
  margin: 10px;
}

.book_info {
  margin: 10px;
}